.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea
.idea/.name

.OptionAndOtherExamples/.idea
.OptionAndOtherExamples/project
.OptionAndOtherExamples/target

.ErrorHandlingExamples/.idea
.ErrorHandlingExamples/target
.ErrorHandlingExamples/project

.Shell-empty-project-scala/.idea
.Shell-empty-project-scala/target
.Shell-empty-project-scala/project


.FutureExamples/.idea
.FutureExamples/project
.FutureExamples/target

.GeneralExamplesLang/.idea
.GeneralExamplesLang/project
.GeneralExamplesLang/target

